body {
 padding: 0px;
 margin: 0px;
 background: #f2f6e9;
}

/*--- navigation bar ---*/
.navbar {
 background: black;

}



.rectangle{

margin-top: 100px;
height: 300px;
width: 350px;
background:transparent;
border: solid;
border-width: 1px;
}
.rectangle-formulaire
{
margin-top: 70px;
height: 400px;
width: 350px;
background:transparent;
border: solid;
border-width: 1px;
}

.nav-link, .navbar-brand {
 color: white;
 cursor: pointer;


}
.nav-link {
	text-align: center;
 margin-left: 1em !important;
 
}
.nav-link:hover {
 color: red;
}
.navbar-collapse {
 justify-content: flex-end;


}
.navbar-toggler:hover{

background-color: black;
color: red;

}

.header {

 background-image: url('page-blanche.jpg');
 background-size: cover;
 background-position: center;
 position: relative;

}

.overlay {

 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0px;
 top: 0px;
 background-color: rgba(0, 0, 0, 0.35);
}

.description {
 right: -5%;
 position: absolute;
 top: 10%;
 transform: translate(-50%, -55%);
 text-align: center;
}
.description h1 {
 color: black;
 font-size: 65px;
font-style: oblique;

}

.features {
 padding: 1em;
 position: relative;


 }



 .features-compte {

position: relative;
padding-left: 400px;
padding-top: 120px;
color: black;


}
.feature-title {
 color: black;
 font-size: 40;
 font-weight: 500;
margin-bottom: 350px;
text-align: center;
position: center;


}

.carousel-item
{
	margin-top: 150px;
	margin-left: 300px;
}

.img-fluid
{
	margin-top: 350px;
}

.img-fluid-categorie
{
	margin-right: 20px;
	margin-top: 200px;
	height: 280px;
	width: 250px;
}

.btn
{

	margin-right: 30px;
}

.feature-title-votre-compte {
 color: white;
 font-size: 1.3rem;
 font-weight: 700;
padding-top: 25px;
text-align: center;

}
.features img {
 -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 margin-bottom: 16px;
}











.page-footer {
 background-color: #444;
 color: #ccc;
 padding: 60px 0 30px;
}
.footer-copyright {
 color: #666;
 padding: 40px 0;
}

@media (max-width: 575.98px) {
	 .description {
 left: 0;
 padding: 0 15px;
 position: absolute;
 top: 10%;
 transform: none;
 text-align: center;
 }

 .description h1 {
 font-size: 2em;
 }

 .description p{
 font-size: 1.2rem;
 }

 .features {
 margin: 0;
 }
}

